<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<%= erb "og/#{@game}".to_sym %>
		<%= erb "head/#{@game}".to_sym %>

		<style>
			body {
				background: #222;
				overflow: hidden;
			}
			.container {
				margin: 0 auto;
				width: 800px;
			}
			#game {
				position: absolute;
				top: 50%;
				margin-top: -300px;
			}
		</style>

		<%= erb "help/help-css".to_sym %>
	</head>
	<body>
		<%= erb "help/help-html".to_sym, :locals => { :game => @game } %>
		
		<div class="container">
			<object width="800" height="600">
				<param name="movie" value="<%= @game %>.swf">
				<embed src="<%= @game %>.swf" width="800" height="600">
				</embed>
			</object>
		</div>

		<%= erb "help/help-js".to_sym %>
	</body>
</html>

