<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<%= erb "og/#{@game}".to_sym %>
		<%= erb "head/#{@game}".to_sym %>

		<script type="text/javascript" src="<%= asset_path 'swfobject.js' %>"></script>

		<script type="text/javascript">
			swfobject.registerObject("game", "9.0.0");
		</script>

		<style>
			body {
				background: #222;
				overflow: hidden;
			}
			.container {
				margin: 0 auto;
				width: 800px;
			}
			#game {
				position: absolute;
				top: 50%;
				margin-top: -300px;
			}
		</style>

		<%= erb "help/help-css".to_sym %>
	</head>
	<body>
		<%= erb "help/help-html".to_sym, :locals => { :game => @game } %>
		
		<div class="container">
			<object type="application/x-shockwave-flash" data="<%= @game %>.swf" width="800" height="600">
				<param name="wmode" value="direct">
				<param name="allowscriptaccess" value="never">
				<param name="allowfullscreen" value="true">
				<param name="allowfullscreeninteractive" value="true">				

				<a href="//www.adobe.com/go/getflashplayer">
					<img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get AdobeFlash player">
				</a>
			</object>
		</div>

		<%= erb "help/help-js".to_sym %>
	</body>
</html>

