<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'apple-touch-icon.png' %>">
		<link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'favicon-32x32.png' %>">
		<link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon-16x16.png' %>">
		<link rel="manifest" href="<%= asset_path 'manifest.json' %>">
		<link rel="mask-icon" href="<%= asset_path 'safari-pinned-tab.svg' %>" color="#da532c">
		<link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
		<meta name="apple-mobile-web-app-title" content="Treintipollo">
		<meta name="application-name" content="Treintipollo">
		<meta name="msapplication-config" content="<%= asset_path 'browserconfig.xml' %>">
		<meta name="theme-color" content="#da532c">

		<%= erb "og/#{@game}".to_sym %>
		<%= erb "head/#{@game}".to_sym %>

		<script type="text/javascript" src="<%= asset_path 'swfobject.js' %>"></script>

		<script type="text/javascript">
			swfobject.registerObject("game", "9.0.0");
		</script>

		<style>
			body {
				background: #222;
				overflow: hidden;
			}
			.container {
				margin: 0 auto;
				width: 800px;
			}
			#game {
				position: absolute;
				top: 50%;
				margin-top: -300px;
			}
		</style>

		<%= erb "help/help-css".to_sym %>
	</head>
	<body>
		<%= erb "help/help-html".to_sym, :locals => { :game => @game } %>
		
		<div class="container">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="600" id="game">
				<param name="movie" value="<%= @game %>.swf">
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="<%= @game %>.swf" width="800" height="600">
					<!--<![endif]-->
					<a href="//www.adobe.com/go/getflashplayer">
						<img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player">
					</a>
					<!--[if !IE]>-->
				</object>
			<!--<![endif]-->
			</object>
		</div>

		<%= erb "help/help-js".to_sym %>
	</body>
</html>
